# Stellar Testnet public configuration exposed to the browser.
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_JEJAK_DEPLOYER_ADDRESS=GB4HSH72SE27IVSQV6O5WDV4UJCYFR5WVZEW2CEF3GWDWF46GPMO5MFU
NEXT_PUBLIC_JEJAK_ELIGIBILITY_REGISTRY_CONTRACT_ID=CCI6OI2YEFUD7YPHMCZ3DXFFHICJ6HRT5S6NRLP3LR3BG25KEPCCFGUY
NEXT_PUBLIC_JEJAK_CLAIM_LIFECYCLE_CONTRACT_ID=CDHBG3Y3FQS6KWKD3QAEZA7WMUWKR7N4QHRDWKJDF2DQWKOD6MJNJ67B
NEXT_PUBLIC_JEJAK_ASSET_CONTROLLER_CONTRACT_ID=CB2WNWAKLCIV6BF6THPKUX5IXA7EOJUBQ3IIQ3MJXF7MBDUUKKCKUEDM
NEXT_PUBLIC_JEJAK_FACILITY_CONTRACT_ID=CADRQLNFZKIMXESXK3X5KXZPTTUXZPV2NPGYGPJVT4A4FSSUPIEB7MOB
NEXT_PUBLIC_JEJAK_SERVICING_WATERFALL_CONTRACT_ID=CDR4L6AXUXALOF2VFE7OIBHL4LXDIRPBPLQYHQZTOCOZTZQ47EW5LPEZ
NEXT_PUBLIC_JEJAK_RESOLUTION_MANAGER_CONTRACT_ID=CANTRNFGQSWKLJ36Q4XT5KEVP5IHSXUTMAH235SUS7JEFORD26EIHNVD
NEXT_PUBLIC_JEJAK_JCLAIM_SAC_ID=CC2VMNLFMQJCWMVKBAWNOO7RRQEHW7UPLWJBPHIXCZ76AA5JET2XDC4X
NEXT_PUBLIC_JEJAK_JUSD_SAC_ID=CC7N7M72RNJSMONXLG5N644LORVCVSVREASPQPNWVDOEVNC2GMCS7P2D
NEXT_PUBLIC_JEJAK_JCLAIM_ISSUER_ADDRESS=GAVC2STTMZWVNIOKS5GCHHH5QJSJTNXMEY2BKV6SP4NNFJ7NGNYOMXSN
NEXT_PUBLIC_JEJAK_JUSD_ISSUER_ADDRESS=GAOSWMVGOBDPGOSXHULX55PAOJDWWMPANK72OKQYHV2S3Z6VH5CLJ5OI
